body {
    background-color: lightblue;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.mainImage {
	display: block;
	margin-left: auto;
    margin-right: auto;
}